{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
      <meta charset="utf-8" />
      <link rel="icon" href="{% static 'imgcoll/favicon.svg' %}" />
      <title>Calibration upload</title>
      <link rel="stylesheet" href="{% static 'imgcoll/styles.css' %}" />
      <script src="{% static 'imgcoll/asynchronous.js' %}" async type="application/javascript"></script>
  </head>
  <body>
      <h1>{% translate "Food analyzer beta" %}</h1>
    {% if not cal_obj %}
      <p>{% translate "Please supply a mail address if you like to get notified if your data calibration gets updated. If you supply am mail adderss we will create an account for this address." %}</p>
      <p>{% translate "Please fill in the name of your cell phone model. This greatly helps to cluster the training data for different CMOS sensors. You can expect to get much better results if you supply the correct manufacturer and model of your device." %}</p>
      <p>{% translate "The first image should contain an empty plate. This image is used for camera calibration. The pictures of the potato slice, the flour and the milk are used for calibrating the near infrared raw data. Please be aware that poor lighting conditions for these pictures may greatly reduce the classification accuracy." %}</p>
      <p>{% translate "Place the food you want to classify on the same plate as shown in the calibration image. Take a picture, upload it in the last field and supply a descriptive name to the food in the picture. Single ingredients work a bit more reliably than cooked dishes but you can upload either one." %}</p>
      <form method="post" enctype="multipart/form-data" id="UploadForm">
          {% csrf_token %}
          <div><label></label><div id="mailhint" class="hint" style="visibility: hidden;"></div></div>
          {{ form.as_div }}
          <button type="submit">{% translate "Upload and analyze" %}</button>
      </form>
    {% endif %}
    {% if cal_obj %}
      <h3>{% translate "Succesfully uploaded: " %}{{cal_obj.food_name}}</h3>
      <img src="{{ cal_obj.analyze_image.url}}" alt="analyzed image" style="max-height:500px">
      <p>{% translate "Comment: " %}{{ cal_obj.comment }}</p>
      <h4>{% translate "Calibration data:" %}</h4>
      <p>{% translate "Email: " %}{{ cal_obj.email }}</p>
      <img src="{{ cal_obj.calibration_image.url}}" alt="camera calibration" style="max-height:300px">
      <img src="{{ cal_obj.potato_image.url}}" alt="potato calibration" style="max-height:300px">
      <img src="{{ cal_obj.flour_image.url}}" alt="flour calibration" style="max-height:300px">
      <img src="{{ cal_obj.milk_image.url}}" alt="milk calibration" style="max-height:300px">
    {% endif %}
  </body>
</html>