{% load i18n %}
{% load static %}
<!DOCTYPE html>
<html lang="de">
  <head>
      <meta charset="utf-8" />
      <link rel="icon" href="{% static 'imgcoll/favicon.svg' %}" />
    {% if not cal_obj %}
      <title>{% translate "Photo upload" %} | {% translate "FAIGE project server" %}</title>
    {% endif %}
    {% if cal_obj %}
      <title>{% translate "Results" %} | {% translate "FAIGE project server" %}</title>
    {% endif %}
      <link rel="stylesheet" href="{% static 'imgcoll/styles.css' %}" />
      <script src="{% static 'imgcoll/asynchronous.js' %}" async type="application/javascript"></script>
  </head>
  <body>
      <h1 id="title">FAIGE<sub>beta</sub></h1>
      <h2 id="subtitle">{% translate "Food analyzer" %}</h2>
    {% if not cal_obj %}
      <p>{% translate "This is a beta installation of FAIGE (Foodscan Artificial Intelligence Generic Entry). This software uses artificial intelligence (AI) to analyze food on a melecular level. It currently detects amylum, lactose and insect protein. for further information read the article in " %}
      <a href="https://select.heise.de/ct/2023/8/seite-40" target="_blank">c’t 8/2023</a>{% translate " (german)." %}
      </p>
      <p>{% translate "The first image should contain an empty plate. This image is used for camera calibration." %}</p>
      <div class="pics">
        <img src="{% static 'imgcoll/leer.jpg' %}" 
             alt="{% translate 'empty dish' %}, {% translate 'folding rule next to it' %}"
        />
      </div>
       <p>{% translate "The pictures of the potato slice, the flour and the milk are used for calibrating the near infrared raw data. Please be aware that poor lighting conditions for these pictures may greatly reduce the classification accuracy." %}</p>
      <div class="pics">
        <img src="{% static 'imgcoll/kartoffel.jpg' %}" 
             alt="{% translate 'dish with potato' %}, {% translate 'folding rule next to it' %}"
        />
        <img src="{% static 'imgcoll/mehl.jpg' %}" 
             alt="{% translate 'dish with flour' %}, {% translate 'folding rule next to it' %}"
        />
        <img src="{% static 'imgcoll/milch.jpg' %}" 
             alt="{% translate 'dish with milk' %}, {% translate 'folding rule next to it' %}"
        />
      </div>
      <p>{% translate "Place the food you want to classify on the same plate as shown in the calibration image. Take a picture, upload it in the last field and supply a descriptive name to the food in the picture." %}</p>
      <p>{% translate "Please supply a mail address (optional) if you like to get notified if your data calibration gets updated." %}</p>
      <p>{% translate "Please fill in the name of your cell phone model. This greatly helps to cluster the training data for different CMOS sensors. You can expect to get much better results if you supply the correct manufacturer and model of your device." %}</p>
      <form method="post" enctype="multipart/form-data" id="UploadForm">
          {% csrf_token %}
          <div><label></label><div id="mailhint" class="hint" style="visibility: hidden;"></div></div>
          {{ form.as_div }}
          <button type="submit">{% translate "Upload and analyze" %}</button>
      </form>
    {% endif %}
    {% if cal_obj %}
      <h3>{% translate "Succesfully uploaded: " %}{{cal_obj.food_name}}</h3>
      <img src="{{ cal_obj.analyze_image.url}}" alt="analyzed image" style="max-height:500px">
      <div id="processing">
        <div id="wait_block">
          <h4>{% translate "Your data is being processed..." %}</h4>
          <img src="{% static 'imgcoll/gears.svg' %}" alt="{% translate "processing..." %}" />
        </div>
        <div style="display: none" id="processingID">{{ cal_obj.pk }}</div>
        {% csrf_token %}
        <div id="results" style="display: none;">
        <h3>{% translate "Results:" %}</h3>
          <table>
            <tr><th>{% translate "measured parameter" %}</th><th>{% translate "measured value" %}</th></tr>
            <tr><td>{% translate "amylum" %}</td><td id="amylum"></td></tr>
            <tr><td>{% translate "lactose" %}</td><td id="lactose"></td></tr>
            <tr><td>{% translate "insect protein" %}</td><td id="insect_protein"></td></tr>
          </table>
        </div>
      </div>
      <h4>{% translate "Calibration data:" %}</h4>
      
      <img src="{{ cal_obj.calibration_image.url }}" alt="camera calibration" class="calibration_check">
      <img src="{{ cal_obj.potato_image.url }}" alt="potato calibration" class="calibration_check">
      <img src="{{ cal_obj.flour_image.url }}" alt="flour calibration" class="calibration_check">
      <img src="{{ cal_obj.milk_image.url }}" alt="milk calibration" class="calibration_check">
      
      <h4>{% translate "Submitted data:" %}</h4>
      <p>{% translate "Comment: " %}{{ cal_obj.comment }}</p>
      <p>{% translate "Email: " %}{{ email }}</p>
    {% endif %}
    <footer class="footer">
      <ul class="footer__list">
        <li class="footer__item">
            <a href="/" class="footer__link">{% translate "image upload and processing" %}</a>
        </li>
        <li class="footer__item">
          <a href="https://www.heise.de/Datenschutzerklaerung-der-Heise-Medien-GmbH-Co-KG-4860.html" class="footer__link">{% translate "data privacy" %}</a>
        </li>
        <li class="footer__item">
          <a href="/impressum" class="footer__link">{% translate "imprint" %}</a>
        </li>
      </ul>
    </footer>
</body>
</html>
